<div ng-include="'partials/navbar'"></div>


 <form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="enteryourname">Name</label>
    <input type="text" class="form-control" placeholder="Enter your name">
  </div>
  <button type="submit" class="btn btn-default">Send</button>
  <button type="submit" class="btn btn-default">Send</button>
</form> 

<div class="row marketing">
  <div ng-repeat="datum in someData">
      <h4>{{datum.name}}</h4>
      <p>{{datum.info}}</p>
  </div>
</div>

<div class="footer">
  <p>the footer</p>
</div>